#notice {
 margin-top: 16px;
 text-align: center;
}

.title {
 line-height: 14px;
 font-size: 14px;
 font-weight: bold;
}

.summary {
 line-height: 18px;
 font-size: 18px;
 font-weight: bold;
}

.info {
 line-height: 10px;
 font-size: 10px;
 font-weight: bold;
}
